<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<div class="row">
  <% @playlist.songs.each do |song| %>
    <div class="col-md-4">
      <h4><%= link_to song.name, song %></h4>
      <p><%= song.artist %></p>
      <%= audio_tag(song.attachement, autoplay: true, controls: true) if song.attachement.present? %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
